<% if (user_id) { %>
  <p> Logged in as
    <%= user.email %>
  </p>
  <form method="POST" action="/logout">
    <button class="btn btn-primary" type="submit">Log Out</button>
  </form>
  <% } else { %>
    <a href="/register"> Register here</a>
    <a href="/login"> Sign in</a>
    <p> Login or Register to see your URLs</p>
    <% } %>