<!DOCTYPE html>
<html lang="en">
<head>
  <title>TinyApp</title>
</head>
<body>
  <div id="wrapper">
    <% include partials/_header %>
    <p style="margin:30px;"> <%= errorURL %> is an invalid URL! Please try again. </p>
    <p> <a href="/urls/new"> Try another one! </a> </p>
  </div>
</body>
</html>