<!DOCTYPE html>
<html lang="en">
<head>
  <title>TinyApp</title>
</head>
<body>
    <% include partials/_header %>
    <p> <%= errorURL %> is invalid! </p>
    <p> <a href="/urls/new"> Try another one! </a> </p>
</body>
</html>