<!DOCTYPE html>
<html lang="en">
<head>
  <title>TinyApp</title>
</head>
<body>
  <table>
<% include partials/_header %>
    <tr><th> URLs </th></tr>
    <% for (var url in urls) { %>
    <tr>
    <td><a href="u/<%=url%>"> <%= url %></a></td>
    <td><%= urls[url] %></td>
    <td><button><form method="POST" action="/urls/<%= url %>/delete"><input type="submit" value="DELETE"></input></form></button></td>
    </tr>
    <% }; %>
  </table>
    <p><a href="/urls/new"> Shorten another URL </a></p>
</body>
</html>