<!DOCTYPE html>
<html lang="en">
<head>
  <title>TinyApp</title>
</head>
<body>
<% include partials/_header %>
    <% for (var url in urls) { %>
    <li><a href="u/<%=url%>"> <%= url %></a>, <%= urls[url] %> </li>
    <% }; %>
    <p><a href="/urls/new"> Shorten a URL </a></p>
</body>
</html>