<!DOCTYPE html>
<html lang="en">
<head>
  <title>TinyApp</title>
</head>
<body>
<% include partials/_header %>
    <% for (var url in urls) { %>
    <li><%= url %>, <%= urls[url] %> </li>
    <% }; %>
    <p><a href=" "> Shorten URL </a></p>
</body>
</html>